@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Instrument Sans";
}
.input_focus {
  box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
}
.loading-email {
  box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25)
}
